In [1]:
import pandas as pd
import math
import numpy

In [2]:
bd1 = pd.read_csv('COUNTRY.csv')
bd2 = pd.read_csv('CITY.csv')
bd3 = pd.read_csv('LANGUAGE.csv')

In [3]:
bd1.shape

(239, 13)

In [4]:
bd1.columns

Index(['Code', 'Name', 'Continent', 'Region', 'SurfaceArea', 'IndepYear',
       'Population', 'LifeExpectancy', 'GNP', 'GNPOld', 'LocalName',
       'GovernmentForm', 'Capital'],
      dtype='object')

In [5]:
bd1.index

RangeIndex(start=0, stop=239, step=1)

In [6]:
bd1.dtypes

Code               object
Name               object
Continent          object
Region             object
SurfaceArea       float64
IndepYear         float64
Population          int64
LifeExpectancy    float64
GNP               float64
GNPOld            float64
LocalName          object
GovernmentForm     object
Capital           float64
dtype: object

In [7]:
bd1.head()

,Code,Name,Continent,Region,SurfaceArea,IndepYear,Population,LifeExpectancy,GNP,GNPOld,LocalName,GovernmentForm,Capital
0,ABW,Aruba,North America,Caribbean,193.0,NaN,103000,78.4,828.0,793.0,Aruba,Nonmetropolitan Territory of The Netherlands,129.0
1,AFG,Afghanistan,Asia,Southern and Central Asia,652090.0,1919.0,22720000,45.9,5976.0,NaN,Afganistan/Afqanestan,Islamic Emirate,1.0
2,AGO,Angola,Africa,Central Africa,1246700.0,1975.0,12878000,38.3,6648.0,7984.0,Angola,Republic,56.0
3,AIA,Anguilla,North America,Caribbean,96.0,NaN,8000,76.1,63.2,NaN,Anguilla,Dependent Territory of the UK,62.0
4,ALB,Albania,Europe,Southern Europe,28748.0,1912.0,3401200,71.6,3205.0,2500.0,Shqipëria,Republic,34.0

In [8]:
bd1.tail()

,Code,Name,Continent,Region,SurfaceArea,IndepYear,Population,LifeExpectancy,GNP,GNPOld,LocalName,GovernmentForm,Capital
234,YEM,Yemen,Asia,Middle East,527968.0,1918.0,18112000,59.8,6041.0,5729.0,Al-Yaman,Republic,1780.0
235,YUG,Yugoslavia,Europe,Southern Europe,102173.0,1918.0,10640000,72.4,17000.0,NaN,Jugoslavija,Federal Republic,1792.0
236,ZAF,South Africa,Africa,Southern Africa,1221037.0,1910.0,40377000,51.1,116729.0,129092.0,South Africa,Republic,716.0
237,ZMB,Zambia,Africa,Eastern Africa,752618.0,1964.0,9169000,37.2,3377.0,3922.0,Zambia,Republic,3162.0
238,ZWE,Zimbabwe,Africa,Eastern Africa,390757.0,1980.0,11669000,37.8,5951.0,8670.0,Zimbabwe,Republic,4068.0

In [9]:
bd1.nunique()

Code              239
Name              239
Continent           7
Region             25
SurfaceArea       238
IndepYear          88
Population        226
LifeExpectancy    160
GNP               214
GNPOld            178
LocalName         239
GovernmentForm     35
Capital           232
dtype: int64

In [10]:
bd1.value_counts()

Code  Name        Continent  Region           SurfaceArea  IndepYear  Population  LifeExpectancy  GNP      GNPOld   LocalName              GovernmentForm                       Capital
AGO   Angola      Africa     Central Africa   1246700.0    1975.0     12878000    38.3            6648.0   7984.0   Angola                 Republic                             56.0       1
MRT   Mauritania  Africa     Western Africa   1025520.0    1960.0     2670000     50.8            998.0    1081.0   Muritaniya/Mauritanie  Republic                             2509.0     1
MWI   Malawi      Africa     Eastern Africa   118484.0     1964.0     10925000    37.6            1687.0   2527.0   Malawi                 Republic                             2462.0     1
MYS   Malaysia    Asia       Southeast Asia   329758.0     1957.0     22244000    70.8            69213.0  97884.0  Malaysia               Constitutional Monarchy, Federation  2464.0     1
NAM   Namibia     Africa     Southern Africa  824292.0     1990.0     1726000     42.5            3101.0   3384.0   Namibia                Republic                             2726.0     1
                                                                                                                                                                                          ..
GEO   Georgia     Asia       Middle East      69700.0      1991.0     4968000     64.5            6064.0   5924.0   Sakartvelo             Republic                             905.0      1
GHA   Ghana       Africa     Western Africa   238533.0     1957.0     20212000    57.4            7137.0   6884.0   Ghana                  Republic                             910.0      1
GIN   Guinea      Africa     Western Africa   245857.0     1958.0     7430000     45.6            2352.0   2383.0   Guinée                 Republic                             926.0      1
GMB   Gambia      Africa     Western Africa   11295.0      1965.0     1305000     53.2            320.0    325.0    The Gambia             Republic                             904.0      1
ZWE   Zimbabwe    Africa     Eastern Africa   390757.0     1980.0     11669000    37.8            5951.0   8670.0   Zimbabwe               Republic                             4068.0     1
Length: 167, dtype: int64

In [19]:
bd2.shape

(4079, 5)

In [20]:
bd2.columns

Index(['ID', 'Name', 'CountryCode', 'District', 'Population'], dtype='object')

In [21]:
bd2.index

RangeIndex(start=0, stop=4079, step=1)

In [22]:
bd2.dtypes

ID              int64
Name           object
CountryCode    object
District       object
Population      int64
dtype: object

In [23]:
bd2.head()

   ID            Name CountryCode       District  Population
0   1           Kabul         AFG          Kabol     1780000
1   2        Qandahar         AFG       Qandahar      237500
2   3           Herat         AFG          Herat      186800
3   4  Mazar-e-Sharif         AFG          Balkh      127800
4   5       Amsterdam         NLD  Noord-Holland      731200

In [24]:
bd2.tail()

        ID        Name CountryCode    District  Population
4074  4075  Khan Yunis         PSE  Khan Yunis      123175
4075  4076      Hebron         PSE      Hebron      119401
4076  4077    Jabaliya         PSE  North Gaza      113901
4077  4078      Nablus         PSE      Nablus      100231
4078  4079       Rafah         PSE       Rafah       92020

In [25]:
bd2.nunique()

ID             4079
Name           4001
CountryCode     232
District       1366
Population     3897
dtype: int64

In [26]:
bd2.value_counts()

ID    Name                CountryCode  District              Population
1     Kabul               AFG          Kabol                 1780000       1
2722  Henzada (Hinthada)  MMR          Irrawaddy [Ayeyarwad  104700        1
2709  Maxixe              MOZ          Inhambane             93985         1
2710  Rangoon (Yangon)    MMR          Rangoon [Yangon]      3361700       1
2711  Mandalay            MMR          Mandalay              885300        1
                                                                          ..
1364  Vejalpur            IND          Gujarat               89053         1
1365  Baghdad             IRQ          Baghdad               4336000       1
1366  Mosul               IRQ          Ninawa                879000        1
1367  Irbil               IRQ          Irbil                 485968        1
4079  Rafah               PSE          Rafah                 92020         1
Length: 4075, dtype: int64

In [27]:
bd3.shape

(984, 4)

In [28]:
bd3.columns

Index(['CountryCode', 'Language', 'IsOfficial', 'Percentage'], dtype='object')

In [29]:
bd3.index

RangeIndex(start=0, stop=984, step=1)

In [30]:
bd3.dtypes

CountryCode     object
Language        object
IsOfficial      object
Percentage     float64
dtype: object

In [31]:
bd3.head()

  CountryCode    Language IsOfficial  Percentage
0         ABW       Dutch          T         5.3
1         ABW     English          F         9.5
2         ABW  Papiamento          F        76.7
3         ABW     Spanish          F         7.4
4         AFG     Balochi          F         0.9

In [32]:
bd3.tail()

    CountryCode Language IsOfficial  Percentage
979         ZMB   Tongan          F        11.0
980         ZWE  English          T         2.2
981         ZWE  Ndebele          F        16.2
982         ZWE   Nyanja          F         2.2
983         ZWE    Shona          F        72.1

In [33]:
bd3.nunique()

CountryCode    233
Language       457
IsOfficial       2
Percentage     357
dtype: int64

In [34]:
bd3.value_counts()

CountryCode  Language  IsOfficial  Percentage
ABW          Dutch     T           5.3           1
NGA          Ibo       F           18.1          1
             Joruba    F           21.4          1
             Kanuri    F           4.1           1
             Tiv       F           2.3           1
                                                ..
GLP          French    T           0.0           1
GMB          Diola     F           9.2           1
             Ful       F           16.2          1
             Malinke   F           34.1          1
ZWE          Shona     F           72.1          1
Length: 984, dtype: int64

In [15]:
a = bd1['Population'].mean()
print('El promedio de la población para el conjunto analizado es de',a)

El promedio de la población para el conjunto analizado es de 25434098.11715481

In [37]:
b = bd1.loc[bd1['SurfaceArea'].idxmin()]['Name']
print('El país con área más pequeña es',b)

El país con área más pequeña es Holy See (Vatican City State)

In [41]:
c = bd1['LifeExpectancy'].max()
print('El mayor valor expectativa de vida es', c)

El mayor valor expectativa de vida es 83.5

In [7]:
d = bd1.loc[bd1['Region']=='Central America']['Name']
print('Los países que pertenence a la region de Central America son:',d)

Los países que pertenence a la region de Central America son: 27          Belize
50      Costa Rica
88       Guatemala
94        Honduras
135         Mexico
156      Nicaragua
165         Panama
192    El Salvador
Name: Name, dtype: object

In [47]:
e = bd2.loc[(bd2['Population'] >= 1000000) & (bd2['CountryCode'] == 'MEX')]['Name']
print('Las ciudades de México que tienen más de un millón de habitantes son:',e)

Las ciudades de México que tienen más de un millón de habitantes son: 2514       Ciudad de México
2515            Guadalajara
2516    Ecatepec de Morelos
2517                 Puebla
2518         Nezahualcóyotl
2519                 Juárez
2520                Tijuana
2521                   León
2522              Monterrey
2523                Zapopan
Name: Name, dtype: object

In [53]:
f = bd3.loc[(bd3['IsOfficial'] == 'F') & (bd3['CountryCode'] == 'MEX')]['Language']
print('Las lenguas no oficiales que se hablan en México son:',f)

Las lenguas no oficiales que se hablan en México son: 545     Mixtec
546    Náhuatl
547      Otomí
549    Yucatec
550    Zapotec
Name: Language, dtype: object